In [4]:
import pandas as pd

# Load the data from the Excel spreadsheet
file_path = 'Default.csv'
df = pd.read_csv(file_path)

In [5]:
df.head()

   Unnamed: 0 default student      balance       income
0           1      No      No   729.526495  44361.62507
1           2      No     Yes   817.180407  12106.13470
2           3      No      No  1073.549164  31767.13895
3           4      No      No   529.250605  35704.49394
4           5      No      No   785.655883  38463.49588

In [10]:
# Calculate year-over-year growth rates for Total Revenue and Net Income
df['Revenue Growth (%)'] = df.groupby('student')['balance'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby('student')['income'].pct_change() * 100

In [11]:
# Fill NA values that result from pct_change calculations with 0 or an appropriate value
df.fillna(0, inplace=True)

# Display the dataframe to verify the calculations
print(df)

      Unnamed: 0 default student      balance       income  \
0              1      No      No   729.526495  44361.62507
1              2      No     Yes   817.180407  12106.13470
2              3      No      No  1073.549164  31767.13895
3              4      No      No   529.250605  35704.49394
4              5      No      No   785.655883  38463.49588
...          ...     ...     ...          ...          ...
9995        9996      No      No   711.555020  52992.37891
9996        9997      No      No   757.962918  19660.72177
9997        9998      No      No   845.411989  58636.15698
9998        9999      No      No  1569.009053  36669.11236
9999       10000      No     Yes   200.922183  16862.95232

      Revenue Growth (%)  Net Income Growth (%)
0               0.000000               0.000000
1               0.000000               0.000000
2              47.156981             -28.390498
3             -50.700851              12.394427
4              48.446856               7.727324
...                  ...                    ...
9995          -24.208825              -6.429186
9996            6.522039             -62.898964
9997           11.537381             198.240104
9998           85.591058             -37.463309
9999           16.535410              12.750856

[10000 rows x 7 columns]

In [13]:
# Optionally, you could summarize these findings for each company
summary = df.groupby('student').agg({
    'Revenue Growth (%)': 'mean',
    'Net Income Growth (%)': 'mean'
}).reset_index()

print("\nYear-over-Year Average Growth Rates (%):")
print(summary)

Year-over-Year Average Growth Rates (%):
  student  Revenue Growth (%)  Net Income Growth (%)
0      No                 inf               7.823213
1     Yes                 inf               8.951127

In [4]:
def simple_chatbot(user_query):
    if user_query == "What is the total revenue?":
        return "The total revenue is [amount]."
    elif user_query == "How has net income changed over the last year?":
        return "The net income has [increased/decreased] by [amount] over the last year."
    else:
        return "Sorry, I can only provide information on predefined queries."

In [5]:
def financial_chatbot(query):
    responses = {
        "net income": "The net income for the fiscal year 2021 was $5 billion, a 10% increase from 2020.",
        "revenue growth": "The revenue grew by 8% from 2020 to 2021, reaching $22 billion."
    }
    return responses.get(query.lower(), "I'm not sure how to answer that. Can you try a different question?")

In [6]:
print(financial_chatbot("What is the total revenue?"))
print(financial_chatbot("What's the net income?"))
print(financial_chatbot("Tell me about revenue growth."))

I'm not sure how to answer that. Can you try a different question?
I'm not sure how to answer that. Can you try a different question?
I'm not sure how to answer that. Can you try a different question?